*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 500ms ease-in-out;
  font-family: 'Poppins', sans-serif;
}

:root {
  line-height: 1.75;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
body, html {
      padding: 0;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #fceeee;
      user-select: none;
}
  

#container {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.theme-btn {
    background-color: transparent;
    position: absolute;
    top: 3%;
    right: 10%;
    font-size: 1rem;
}

header {
    display: flex;
    align-items: center;
}

img {
    width: 60px;
}

input {
    border: none;
    padding: 1em 2em;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

input::placeholder {
    color: black
}

input:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:focus {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#input {
    background-color: rgb(225, 187, 181);
    color: black
}

#add-btn {
    background-color: rgb(173, 60, 43);
    font-weight: 700;
}

#add-btn::placeholder {
    color: white
}

#add-btn:hover {
    background-color: rgb(109, 30, 17);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

ul {
    margin: 0.8em 0;
    padding: 0;
}

.item-div{
    margin: 0;
    padding: 0.4em;
    display: flex;
    gap: 0.4em
}

li {
    list-style-type: none;
    text-transform: capitalize;
    margin: 0.8em 0;
    line-height: 0.4em;
}

button {
    border-radius: 8px;
    border: none;
    padding: 0 1em;
    cursor: pointer;
}

.apagar {
    background-color: rgb(173, 60, 43);
    color: white;
}

.apagar:hover {
    background-color: rgb(109, 30, 17);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}